@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inter';
    letter-spacing: 1.5px;
    margin: 0;
}


.measurement-card {

    .animated-path {
        transition: stroke-dashoffset 1s;
        stroke-dasharray: 0 0 200;
        stroke-dashoffset: 200;
    }

    .graph-text {
        opacity: 0.5;
        transition: opacity 0.5s;
    }

    .animated-day-line {
        stroke-dasharray: 0 0 100;
        stroke-dashoffset: 110;
        transition: stroke-dashoffset 0.5s;
    }

    &:hover, &:focus {
        .animated-path {
            stroke-dashoffset: 0;
        }

        .graph-text {
            opacity: 1;
        }

        .animated-day-line {
            stroke-dashoffset: 0;
        }
    }
}